<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="INSERT CSS LINK">-->
    <title>Create</title>
</head>
<body>
<h1>THIS IS THE CREATION STATION</h1>
<form th:action="@{/posts/create}" th:method="post" th:object="${post}">

<!--    <label for="title">Title: </label>-->
<!--    <input type="text" id="title" name="title">-->
    <label>
        <input th:field="*{title}"/>
    </label>

<!--    <label for="description">Description: </label>-->
<!--    <input type="text" id="description" name="description">-->
    <label>
        <input th:field="*{description}"/>
    </label>

    <!--    <button type="submit">Submit</button>-->
    <input type="submit"/>

</form>

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.

    User ID: <span th:text="${#authentication.principal.id}"/>
    Username: <span th:text="${#authentication.principal.username}"/>
    Email: <span th:text="${#authentication.principal.email}"/>
</div>

</body>
</html>