<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="INSERT CSS LINK">-->
    <title>$My Project$</title>
</head>
<body>
<h1>EDIT</h1>

<form th:action="@{/posts}" th:method="post" th:object="${post}">


    <label>
        <input th:field="*{title}"/>
    </label>


    <label>
        <input th:field="*{description}"/>
    </label>


    <input type="submit"/>

</form>

</body>
</html>