<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="eng">



<head>
  <meta charset="UTF-8" />
  <title>Log In</title>
</head>
<!--<nav>-->
<!--  <ul>-->
<!--    &lt;!&ndash; More links here... &ndash;&gt;-->
<!--    <li>-->
<!--      <form th:action="@{/logout}" th:method="post">-->
<!--        <button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
<!--      </form>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->

<body>
<h1>Log In</h1>
<div th:if="${param.error}">
  Invalid Username and Password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>

<div sec:authorize="isAuthenticated()">
  This content is only shown to authenticated users.

  User ID: <span th:text="${#authentication.principal.id}"/>
  Username: <span th:text="${#authentication.principal.username}"/>
  Email: <span th:text="${#authentication.principal.email}"/>
</div>

<form th:action="@{/login}" method="post">
  <label for="username">Username</label>
  <input id="username" name="username" type="text" />
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <input type="submit" value="Log In" />
</form>
</body>
</html>
