<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="INSERT CSS LINK">-->
    <title>$My Project$</title>
</head>
<body>
<h1>Guess That Number!</h1>
<form method="post" action="roll-dice.html">
<label for="1">
    <input id="1" type="checkbox">
</label>
<label for="2">
    <input id="2" type="checkbox">
</label>
<label for="3">
    <input id="3" type="checkbox">
</label>
<label for="4">
    <input id="4" type="checkbox">
</label>
<label for="5">
    <input id="5" type="checkbox">
</label>
<label for="6">
    <input id="6" type="checkbox">
</label>
    <button type="submit">CONTINUE???</button>
</form>
<!--<button class="guess">Push To Guess</button>-->
<!--<div>You Have Chosen: <span th:text="${num}">???</span></div>-->
<!--<div>That Number is: <span th:text="${isTrue}">-__-</span></div>-->
<!--<div>The Correct Number Is: <span th:text="${answer}"></span></div>-->
<!--<div th:fragment="roll-dice"></div>-->

<!--<script>-->

<!--    addEventListener('click', () => {-->

<!--    })-->

<!--</script>-->

</body>
</html>